<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>시간표 관리 시스템</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/og_image.png">
    <meta property="og:url" content="/timetable">
    <meta property="og:site_name" content="시간표 관리">
    <meta property="og:title" content="시간표 관리 시스템">
    <meta property="og:description" content="대학생들을 위한 시간표 관리 시스템">
    <meta name="description" content="대학생들을 위한 시간표 관리 시스템">
    <meta name="keywords" content="시간표, 수강신청, 강의평가, 학점계산기, 대학생, 대학교">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/container.table.css">
    <link rel="icon" href="/favicon.ico">
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/timetable.js"></script>
</head>
<body>

<nav>
    <div class="wrap">
        <div id="logo">
            <a href="/"><img src="/images/logo.png" alt="로고"></a>
            <p><span class="name">시간표 관리 시스템</span></p>
        </div>
        <ul id="menu">
            <li><a href="/">게시판</a></li>
            <li class="active"><a href="/timetable">시간표</a></li>
            <li><a href="/lecture">강의실</a></li>
            <li><a href="/calculator">학점계산기</a></li>
        </ul>
    </div>
</nav>

<div id="container" class="timetable">
    <aside>
        <form class="select">
            <select id="semesters">
                <option>2024년 겨울학기</option>
                <option>2024년 2학기</option>
                <!-- 다른 학기 옵션들 추가 -->
            </select>
        </form>
        <div class="title">
            <h1 id="tableName">시간표 1</h1>
            <ul class="info">
                <li><span id="tableCredit">0</span> 학점</li>
                <li><time id="tableUpdatedAt">09/17 17:31</time> 변경</li>
            </ul>
            <ol class="buttons threecols">
                <li><a class="export">이미지</a></li>
                <li><a class="setting">설정</a></li>
            </ol>
        </div>
        <div class="menu">
            <ol>
                <li class="active"><a href="#" class="primary">시간표 1</a></li>
                <li class="extension"><a class="create">새 시간표 만들기</a></li>
            </ol>
        </div>
    </aside>

    <div class="wrap">
        <div class="tablehead">
            <table>
                <tr>
                    <th></th>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                </tr>
            </table>
        </div>

        <div class="tablebody">
            <table>
                <tbody>
                <!-- 교시 표시 -->
                <tr>
                    <th>1교시</th>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '월'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '화'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '수'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '목'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '금'}"
                        th:text="${course.courseName}"></td>
                </tr>
                <tr>
                    <th>2교시</th>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '월'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '화'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '수'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '목'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '금'}"
                        th:text="${course.courseName}"></td>
                </tr>
                <tr>
                    <th>3교시</th>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '월'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '화'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '수'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '목'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '금'}"
                        th:text="${course.courseName}"></td>
                </tr>
                <tr>
                    <th>4교시</th>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '월'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '화'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '수'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '목'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '금'}"
                        th:text="${course.courseName}"></td>
                </tr>
                <tr>
                    <th>5교시</th>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '월'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '화'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '수'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '목'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '금'}"
                        th:text="${course.courseName}"></td>
                </tr>
                <tr>
                    <th>6교시</th>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '월'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '화'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '수'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '목'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '금'}"
                        th:text="${course.courseName}"></td>
                </tr>
                <tr>
                    <th>7교시</th>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '월'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '화'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '수'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '목'}"
                        th:text="${course.courseName}"></td>
                    <td th:each="course : ${courses}" th:if="${course.dayOfWeek == '금'}"
                        th:text="${course.courseName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 시간표 설정 모달 -->
    <form id="tableSetting" class="modal">
        <a class="close"></a>
        <h3>시간표 설정</h3>
        <label>이름</label>
        <input type="text" name="name" value="" maxlength="40">
        <input type="submit" value="설정 저장" class="button">
    </form>
</div>

<footer id="bottom">
    <div class="wrap">
        <address>
            <strong>시간표 관리 시스템</strong>
            <span>© 2024 All Rights Reserved</span>
        </address>
    </div>
</footer>

<script src="/js/timetable.js"></script>
</body>
</html>
