<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="table.css" />
    <title>caclulate</title>
    <link rel="icon" href="고래.jpg">
    <style>
        .folded > ul {
            display: none;
        }
        .folded.open > ul {
            display: block;
        }
        .parent {
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>
<body>
<header>
    <div class="container">

        <div class="logo">
            <img src="고래.jpg"/>
            <p>
                <span>고래고래</span>
                <span>서울과기대</span>
            </p>
        </div>

        <div class="menu">
            <ul>
                <li><a href="view.html" target=”_blank>시간표</a></li>
                <li><a href="TimeTableCombination.html" target=”_blank>시간표조합찾기</a></li>
                <li><a href="todo.html" target=”_blank>TODO</a></li>
                <!--        <li><a href="/">이수과목체크</a></li>-->
                <li><a href="calculate.html" target=”_blank>학점계산기</a></li>
            </ul>
        </div>
    </div>
</header>

</body>
</html>