<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="calculate.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>calculate</title>
    <link rel="icon" href="고래.jpg">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif; /* Google Fonts에서 불러온 글씨체 */
            font-weight: 500;
        }
        .folded > ul {
            display: none;
        }
        .folded.open > ul {
            display: block;
        }
        .parent {
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>
<body>
<header>
    <div class="container">

        <div class="logo">
            <img src="고래.jpg"/>
            <p>
                <span>고래고래</span>
                <span>서울과기대</span>
            </p>
        </div>

        <div class="menu">
            <ul>
                <li><a href="view.html" target=”_blank>시간표</a></li>
                <li><a href="TimeTableCombination.html" target=”_blank>시간표조합찾기</a></li>
                <li><a href="todo.html" target=”_blank>TODO</a></li>
                <!--        <li><a href="/">이수과목체크</a></li>-->
                <li><a href="calculate.html" target=”_blank>학점계산기</a></li>
            </ul>
        </div>
    </div>
</header>

<main>
    <div id="score_list">
        <div class="score_table">
            <table class="score_input_table">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                </colgroup>
                <tr class="table_head">
                    <td>과목명</td>
                    <td>학점</td>
                    <td>성적</td>
                    <td>전공</td>
                </tr>
                <tr>
                    <td id="sub-1"></td>
                    <td id="time-1"></td>
                    <td id="score-1"></td>
                    <td id="major-1"></td>
                </tr>
                <tr>
                    <td id="sub-2"></td>
                    <td id="time-2"></td>
                    <td id="score-2"></td>
                    <td id="major-2"></td>
                </tr>
                <tr>
                    <td id="sub-3"></td>
                    <td id="time-3"></td>
                    <td id="score-3"></td>
                    <td id="major-3"></td>
                </tr>
                <tr>
                    <td id="sub-4"></td>
                    <td id="time-4"></td>
                    <td id="score-4"></td>
                    <td id="major-4"></td>
                </tr>
                <tr>
                    <td id="sub-5"></td>
                    <td id="time-5"></td>
                    <td id="score-5"></td>
                    <td id="major-5"></td>
                </tr>
                <tr>
                    <td id="sub-6"></td>
                    <td id="time-6"></td>
                    <td id="score-6"></td>
                    <td id="major-6"></td>
                </tr>
                <tr>
                    <td id="sub-7"></td>
                    <td id="time-7"></td>
                    <td id="score-7"></td>
                    <td id="major-7"></td>
                </tr>
                <tr>
                    <td id="sub-8"></td>
                    <td id="time-8"></td>
                    <td id="score-8"></td>
                    <td id="major-8"></td>
                </tr>
                <tr>
                    <td id="sub-9"></td>
                    <td id="time-9"></td>
                    <td id="score-9"></td>
                    <td id="major-9"></td>
                </tr>
                <tr>
                    <td id="sub-10"></td>
                    <td id="time-10"></td>
                    <td id="score-10"></td>
                    <td id="major-10"></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="score_graph">
        <h2>hi2</h2>
    </div>

</main>

</body>
</html>