<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>조합찾기</title>
<!--    <link rel="stylesheet" href="table.css" />-->
    <link rel="stylesheet" href="combination.css" />
</head>
<body>
<header>
    <div class="container">

        <div class="logo">
            <img
                    src="고래.jpg"
            />
            <p>
                <span>에브리타임</span>
                <span>서울과기대</span>
            </p>
        </div>
    </div>
</header>
<div>
    <span>
        세로!
    </span>
    <table class="main-table">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
            <col class="col5" />
            <col class="col6" />
        </colgroup>
        <tr class="thead">
            <td></td>
            <td>월</td>
            <td>화</td>
            <td>수</td>
            <td>목</td>
            <td>금</td>
        </tr>
        <tr>
            <td>1</td>
            <td id="mon-1"></td>
            <td id="tue-1"></td>
            <td id="wed-1"></td>
            <td id="thu-1"></td>
            <td id="fri-1"></td>
        </tr>
        <tr>
            <td>2</td>
            <td id="mon-2"></td>
            <td id="tue-2"></td>
            <td id="wed-2"></td>
            <td id="thu-2"></td>
            <td id="fri-2"></td>
        </tr>
        <tr>
            <td>3</td>
            <td id="mon-3"></td>
            <td id="tue-3"></td>
            <td id="wed-3"></td>
            <td id="thu-3"></td>
            <td id="fri-3"></td>
        </tr>
        <tr>
            <td>4</td>
            <td id="mon-4"></td>
            <td id="tue-4"></td>
            <td id="wed-4"></td>
            <td id="thu-4"></td>
            <td id="fri-4"></td>
        </tr>
        <tr>
            <td>5</td>
            <td id="mon-5"></td>
            <td id="tue-5"></td>
            <td id="wed-5"></td>
            <td id="thu-5"></td>
            <td id="fri-5"></td>
        </tr>
        <tr>
            <td>6</td>
            <td id="mon-6"></td>
            <td id="tue-6"></td>
            <td id="wed-6"></td>
            <td id="thu-6"></td>
            <td id="fri-6"></td>
        </tr>
        <tr>
            <td>7</td>
            <td id="mon-7"></td>
            <td id="tue-7"></td>
            <td id="wed-7"></td>
            <td id="thu-7"></td>
            <td id="fri-7"></td>
        </tr>
        <tr>
            <td>8</td>
            <td id="mon-8"></td>
            <td id="tue-8"></td>
            <td id="wed-8"></td>
            <td id="thu-8"></td>
            <td id="fri-8"></td>
        </tr>
        <tr>
            <td>9</td>
            <td id="mon-9"></td>
            <td id="tue-9"></td>
            <td id="wed-9"></td>
            <td id="thu-9"></td>
            <td id="fri-9"></td>
        </tr>
    </table>
    <table class="main-table">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
            <col class="col5" />
            <col class="col6" />
        </colgroup>
        <tr class="thead">
            <td></td>
            <td>월</td>
            <td>화</td>
            <td>수</td>
            <td>목</td>
            <td>금</td>
        </tr>
        <tr>
            <td>1</td>
            <td id="mon1"></td>
            <td id="tue1"></td>
            <td id="wed1"></td>
            <td id="thu1"></td>
            <td id="fri1"></td>
        </tr>
        <tr>
            <td>2</td>
            <td id="mon2"></td>
            <td id="tue2"></td>
            <td id="wed2"></td>
            <td id="thu2"></td>
            <td id="fri2"></td>
        </tr>
        <tr>
            <td>3</td>
            <td id="mon"></td>
            <td id="tue3"></td>
            <td id="wed3"></td>
            <td id="thu3"></td>
            <td id="fri3"></td>
        </tr>
        <tr>
            <td>4</td>
            <td id="mon4"></td>
            <td id="tue4"></td>
            <td id="wed4"></td>
            <td id="thu4"></td>
            <td id="fri4"></td>
        </tr>
        <tr>
            <td>5</td>
            <td id="mon5"></td>
            <td id="tue5"></td>
            <td id="wed5"></td>
            <td id="thu5"></td>
            <td id="fri5"></td>
        </tr>
        <tr>
            <td>6</td>
            <td id="mon6"></td>
            <td id="tue6"></td>
            <td id="wed6"></td>
            <td id="thu6"></td>
            <td id="fri6"></td>
        </tr>
        <tr>
            <td>7</td>
            <td id="mon7"></td>
            <td id="tue7"></td>
            <td id="wed7"></td>
            <td id="thu7"></td>
            <td id="fri7"></td>
        </tr>
        <tr>
            <td>8</td>
            <td id="mon8"></td>
            <td id="tue8"></td>
            <td id="wed8"></td>
            <td id="thu8"></td>
            <td id="fri8"></td>
        </tr>
        <tr>
            <td>9</td>
            <td id="mon9"></td>
            <td id="tue9"></td>
            <td id="wed9"></td>
            <td id="thu9"></td>
            <td id="fri9"></td>
        </tr>
    </table>
</div>
</body>
</html>