<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="header.css" />
  <link rel="stylesheet" href="table.css" />
  <title>고래</title>
  <link rel="icon" href="고래.jpg">
  <style>
    .folded > ul {
      display: none;
    }
    .folded.open > ul {
      display: block;
    }
    .parent {
      font-weight: bold;
      cursor: pointer;
    }
  </style>
</head>
<body>

<header>
  <div class="container">

    <div class="logo">
      <img src="고래.jpg"/>
      <p>
        <span>고래고래</span>
        <span>서울과기대</span>
      </p>
    </div>

    <div class="menu">
      <ul>
        <li><a href="view.html" target=”_blank>시간표</a></li>
        <li><a href="TimeTableCombination.html" target=”_blank>시간표조합찾기</a></li>
        <li><a href="todo.html" target=”_blank>TODO</a></li>
<!--        <li><a href="/">이수과목체크</a></li>-->
        <li><a href="calculate.html" target=”_blank>학점계산기</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <div class="container1">
    <aside>
      <form class="select">
        <select id="semesters"
        ><option>2024년 겨울학기</option
        ><option>2024년 2학기</option>
        </select>
      </form>
      <div class="current">
        <h2 id="nowTitle">NOW</h2>
        <ul id="currentChoices">
        </ul>
      </div>
      <div class="choice">
        <ul id="timetableChoices">
        </ul>
      </div>
    </aside>
    <table class="main-table" id="main">
      <colgroup>
        <col class="col1" />
        <col class="col2" />
        <col class="col3" />
        <col class="col4" />
        <col class="col5" />
        <col class="col6" />
      </colgroup>
      <tr class="thead" id="thead">
        <td></td>
        <td>월</td>
        <td>화</td>
        <td>수</td>
        <td>목</td>
        <td>금</td>
      </tr>
      <tr>
        <td>1교시</td>
        <td id="mon-1"></td>
        <td id="tue-1"></td>
        <td id="wed-1"></td>
        <td id="thu-1"></td>
        <td id="fri-1"></td>
      </tr>
      <tr>
        <td>2교시</td>
        <td id="mon-2"></td>
        <td id="tue-2"></td>
        <td id="wed-2"></td>
        <td id="thu-2"></td>
        <td id="fri-2"></td>
      </tr>
      <tr>
        <td>3교시</td>
        <td id="mon-3"></td>
        <td id="tue-3"></td>
        <td id="wed-3"></td>
        <td id="thu-3"></td>
        <td id="fri-3"></td>
      </tr>
      <tr>
        <td>4교시</td>
        <td id="mon-4"></td>
        <td id="tue-4"></td>
        <td id="wed-4"></td>
        <td id="thu-4"></td>
        <td id="fri-4"></td>
      </tr>
      <tr>
        <td>5교시</td>
        <td id="mon-5"></td>
        <td id="tue-5"></td>
        <td id="wed-5"></td>
        <td id="thu-5"></td>
        <td id="fri-5"></td>
      </tr>
      <tr>
        <td>6교시</td>
        <td id="mon-6"></td>
        <td id="tue-6"></td>
        <td id="wed-6"></td>
        <td id="thu-6"></td>
        <td id="fri-6"></td>
      </tr>
      <tr>
        <td>7교시</td>
        <td id="mon-7"></td>
        <td id="tue-7"></td>
        <td id="wed-7"></td>
        <td id="thu-7"></td>
        <td id="fri-7"></td>
      </tr>
      <tr>
        <td>8교시</td>
        <td id="mon-8"></td>
        <td id="tue-8"></td>
        <td id="wed-8"></td>
        <td id="thu-8"></td>
        <td id="fri-8"></td>
      </tr>
      <tr>
        <td>9교시</td>
        <td id="mon-9"></td>
        <td id="tue-9"></td>
        <td id="wed-9"></td>
        <td id="thu-9"></td>
        <td id="fri-9"></td>
      </tr>
    </table>
  </div>

  <button id="toggleListButton">강의 목록 열기</button>
  <div class="list">
    <!-- 강의 목록을 보여주는 부분 -->
    <div class="head">
      <div class="search-bar">
        <div class="search-options">
          <button id="departmentButton" class="dropdown-button">과 선택</button>
          <ul id="departmentList" class="dropdown-menu">
            <li data-value="">전체</li>
            <li data-value="1">기계시스템디자인공학과</li>
            <li data-value="2">기계자동차공학과</li>
            <li data-value="3">안전공학과</li>
            <li data-value="4">신소재공학과</li>
            <li data-value="5">건설시스템공학과</li>
            <li data-value="6">건축공학전공</li>
            <li data-value="7">건축학전공</li>
            <li data-value="8">반도체융합공학전공</li>
            <li data-value="9">전기정보공학과</li>
            <li data-value="10">컴퓨터공학과</li>
            <li data-value="11">스마트ICT융합공학과</li>
            <li data-value="12">전자공학과</li>
            <li data-value="13">IT융합소프트웨어전공</li>
            <li data-value="14">화공생명공학과</li>
            <li data-value="15">환경공학과</li>
            <li data-value="16">식품생명공학과</li>
            <li data-value="17">정밀화학과</li>
            <li data-value="18">스포츠과학과</li>
            <li data-value="19">안경광학과</li>
            <li data-value="20">시각디자인전공</li>
            <li data-value="21">산업디자인전공</li>
            <li data-value="22">도예학과</li>
            <li data-value="23">금속공예디자인학과</li>
            <li data-value="24">조형예술학과</li>
            <li data-value="25">영어영문학과</li>
            <li data-value="26">행정학과</li>
            <li data-value="27">문예창작학과</li>
            <li data-value="28">한국문화전공</li>
            <li data-value="29">산업정보시스템전공</li>
            <li data-value="30">ITM전공</li>
            <li data-value="31">경영학전공</li>
            <li data-value="32">글로벌테크노경영전공</li>
            <li data-value="33">MSDE학과</li>
            <li data-value="34">빅데이터경영공학전공</li>
            <li data-value="35">창업융합전공</li>
            <li data-value="36">지식재산기술경영전공</li>
            <li data-value="37">융합기계공학과</li>
            <li data-value="38">헬스피트니스학과</li>
            <li data-value="39">건설환경융합공학과</li>
            <li data-value="40">문화예술학과</li>
            <li data-value="41">영어과</li>
            <li data-value="42">벤처경영학과</li>
            <li data-value="43">정보통신융합공학과</li>
            <li data-value="44">미래에너지융합학과</li>
            <li data-value="45">지능형반도체공학과</li>
            <li data-value="46">인공지능응용학과</li>
            <li data-value="47">창업교육센터</li>
            <li data-value="48">국제교류처</li>
            <li data-value="49">교양대학</li>
            <li data-value="50">글로벌기초교육학부</li>
            <li data-value="51">글로벌한국어문화학부</li>
            <li data-value="52">미래융합대학</li>
            <li data-value="53">조형대학</li>
          </ul>
          <!-- 학점 선택 -->
          <button id="creditButton" class="dropdown-button">학점 선택</button>
          <ul id="creditList" class="dropdown-menu">
            <li data-value="1">1학점</li>
            <li data-value="2">2학점</li>
            <li data-value="3">3학점</li>
            <li data-value="4">4학점</li>
            <li data-value="6">6학점</li>
            <li data-value="12">12학점</li>
          </ul>

          <!-- 이수구분 선택 -->
          <button id="divisionButton" class="dropdown-button">이수구분</button>
          <ul id="divisionList" class="dropdown-menu">
            <li data-value="교필">교필</li>
            <li data-value="기필">기필</li>
            <li data-value="전필">전필</li>
            <li data-value="전선">전선</li>
          </ul>

          <!-- 검색 항목 선택 -->
          <button id="searchOptionButton" class="dropdown-button">검색 항목</button>
          <ul id="searchOptionList" class="dropdown-menu">
            <li data-value="courseName">과목명</li>
            <li data-value="professorName">교수명</li>
            <li data-value="courseCode">과목코드</li>
            <li data-value="classroom">강의실</li>
          </ul>
          <!-- 검색 필드와 버튼 아이콘 -->
          <div class="search-container">
            <input type="text" id="searchQuery" placeholder="검색어를 입력하세요" />
            <button class="search-icon" id="searchButton">
              ⌕ <!-- 검색 아이콘 (원하는 아이콘으로 변경 가능) -->
            </button>
          </div>
          <button id="timeButton" class="timeButton">시간</button>
          <div id="timeModal" class="modal">
            <div class="modal-content">
              <span id="modalClose" class="close">&times;</span>
              <table class="small-table">
              <colgroup>
                <col class="col1" />
                <col class="col2" />
                <col class="col3" />
                <col class="col4" />
                <col class="col5" />
                <col class="col6" />
              </colgroup>
              <tr class="thead">
                <td></td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
              </tr>
                <tr>
                <td>1</td>
                <td id="mon1"></td>
                <td id="tue1"></td>
                <td id="wed1"></td>
                <td id="thu1"></td>
                <td id="fri1"></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td id="mon2"></td>
                  <td id="tue2"></td>
                  <td id="wed2"></td>
                  <td id="thu2"></td>
                  <td id="fri2"></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td id="mon3"></td>
                  <td id="tue3"></td>
                  <td id="wed3"></td>
                  <td id="thu3"></td>
                  <td id="fri3"></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td id="mon4"></td>
                  <td id="tue4"></td>
                  <td id="wed4"></td>
                  <td id="thu4"></td>
                  <td id="fri4"></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td id="mon5"></td>
                  <td id="tue5"></td>
                  <td id="wed5"></td>
                  <td id="thu5"></td>
                  <td id="fri5"></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td id="mon6"></td>
                  <td id="tue6"></td>
                  <td id="wed6"></td>
                  <td id="thu6"></td>
                  <td id="fri6"></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td id="mon7"></td>
                  <td id="tue7"></td>
                  <td id="wed7"></td>
                  <td id="thu7"></td>
                  <td id="fri7"></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td id="mon8"></td>
                  <td id="tue8"></td>
                  <td id="wed8"></td>
                  <td id="thu8"></td>
                  <td id="fri8"></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td id="mon9"></td>
                  <td id="tue9"></td>
                  <td id="wed9"></td>
                  <td id="thu9"></td>
                  <td id="fri9"></td>
                </tr>
              </table>
              <button id="applyButton" class="applyButton">적용</button>
              <button id="resetButton" class="resetButton">초기화</button>
            </div>
          </div>
        </div>
        <button id="deleteButton" class="deleteButton">닫기</button>
      </div>
        <!-- 태그 정보가 있는 부분 -->
      <div class="tag-header">
        <div class="tag">
          <div class="tag-item" style="flex: 0.5;">번호</div>
          <div class="tag-item" style="flex: 1;">과</div>
          <div class="tag-item" style="flex: 2;">과목명</div>
          <div class="tag-item" style="flex: 0.5;">이수구분</div>
          <div class="tag-item" style="flex: 1;">담당교수</div>
          <div class="tag-item" style="flex: 0.5;">학점</div>
          <div class="tag-item" style="flex: 0.5;">시간</div>
          <div class="tag-item" style="flex: 0.7;">강의실</div>
        </div>
      </div>
    </div>

    <div class="body">
      <!-- 강의 데이터를 반복적으로 출력 -->
      <ul id="mainList">
        <li th:each="course : ${courses}">
          <div th:text="${course.id}">번호</div>
          <div th:text="${course.departmentName}">과</div>
          <div th:text="${course.courseName}">과목명</div>
          <div th:text="${course.division}">이수구분</div>
          <div th:text="${course.professorName}">담당교수</div>
          <div th:text="${course.credit}">학점</div>
          {% if ${course.start_period}==${courses.end_period} %}
          <div th:text="${course.dayOfWeek} + ' ' +${course.start_period}">시간</div>
          {% else %}
          <div th:text="${course.dayOfWeek} + ' ' +${course.start_period} + '-' + ${courses.end_period}">시간</div>
          {% endif %}
          <div th:text="${course.classroom}">강의실</div>
<!--          <div th:text="${course.capacity}">수강정원</div>-->
        </li>
      </ul>
    </div>
  </div>
</main>
<script>
  // Flex box 스타일을 저장하는 배열
  const flexBox = [1, 2, 0.5, 1, 0.5, 0.5, 0.7, 0.5, 0.5, 0.5];

  // Toggle button과 mainList 요소를 가져옴
  const toggleButton = document.getElementById('toggleListButton');
  const list = document.querySelector('.list');
  const mainList = document.getElementById('mainList');

  // Toggle button 클릭 시 리스트 표시/숨기기
  toggleButton.addEventListener('click', function () {
    list.style.display = 'block';
    toggleButton.textContent = '강의 목록 열기';
    loadList();
  });

  // 서버에서 데이터를 가져와서 리스트를 만드는 함수
  function loadList() {
    // Fetch API를 사용해 서버에서 강의 데이터를 가져옴
    fetch('http://localhost:8080/courses/list')
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
              }
              return response.json();
            })
            .then(data => {
              console.log('Fetched data:', data);  // 데이터를 콘솔에 출력해 확인
              makeList(data); // 데이터를 받아와 리스트 생성
            })
            .catch(error => console.error('Error fetching data:', error));
  }

  // 리스트를 동적으로 만드는 함수 (다음 항목만 확인하여 강의 시간 병합)
  function makeList(data) {
    mainList.innerHTML = ''; // 기존 리스트 초기화

    // 데이터를 순회하면서 다음 항목과 비교
    for (let j = 0; j < data.length; j++) {
      const currentCourse = data[j];

      // 시작 시간과 종료 시간이 같은 경우와 다른 경우에 맞춰 timeString 생성
      let timeString = currentCourse.start_period === currentCourse.end_period
              ? `${currentCourse.dayOfWeek} ${currentCourse.start_period}` // 시작 시간과 종료 시간이 같으면
              : `${currentCourse.dayOfWeek} ${currentCourse.start_period}-${currentCourse.end_period}`; // 시작 시간과 종료 시간이 다르면

      // 다음 항목이 현재 항목과 동일한 수업인지 확인
      if (j + 1 < data.length) {
        const nextCourse = data[j + 1];

        // 동일한 수업인지 확인 (과, 수업정원, 강의실, 교수명, 학점 등 비교)
        if (currentCourse.departmentName === nextCourse.departmentName &&
                currentCourse.courseCode === nextCourse.courseCode &&
                currentCourse.courseName === nextCourse.courseName &&
                currentCourse.courseNumber === nextCourse.courseNumber &&
                currentCourse.professorName === nextCourse.professorName &&
                currentCourse.credit === nextCourse.credit &&
                currentCourse.division === nextCourse.division &&
                currentCourse.capacity === nextCourse.capacity &&
                currentCourse.classroom === nextCourse.classroom) {

          // 다음 강의 시간도 병합
          const nextTimeString = nextCourse.start_period === nextCourse.end_period
                  ? `${nextCourse.dayOfWeek} ${nextCourse.start_period}` // 시작 시간과 종료 시간이 같으면
                  : `${nextCourse.dayOfWeek} ${nextCourse.start_period}-${nextCourse.end_period}`; // 시작 시간과 종료 시간이 다르면

          timeString += `, ${nextTimeString}`; // 병합된 시간 문자열 추가
          j++; // 이미 병합했으므로 다음 항목을 건너뜀
        }
      }

      // 강의 정보를 표시
      const list = document.createElement('li');
      list.style.display = 'flex'; // Flexbox 설정
      list.classList.add('course-item'); // 클래스 추가 (추후 참조에 용이)

      // 강의 ID를 data-course-id로 설정
      list.setAttribute('data-course-id', currentCourse.id); // 강의 ID 저장

      const attributes = [
        { value: currentCourse.id, flex: 0.5 },      // 번호
        { value: currentCourse.departmentName, flex: 1 },
        { value: currentCourse.courseName, flex: 2 },
        { value: currentCourse.division, flex: 0.5 },
        { value: currentCourse.professorName, flex: 1 },
        { value: currentCourse.credit, flex: 0.5 },
        { value: timeString, flex: 0.7 }, // 병합된 시간 문자열
        { value: currentCourse.classroom, flex: 1 },
        // { value: currentCourse.capacity, flex: 0.5 }
      ];

      // 각 속성을 리스트에 추가
      attributes.forEach(attr => {
        const div = document.createElement('div');
        div.innerHTML = attr.value ? attr.value : '';
        div.style.flex = attr.flex;
        div.style.textAlign = 'center';
        div.style.padding = '10px 5px';
        div.style.borderRight = '1px solid #ededed';
        list.appendChild(div);
      });

      mainList.appendChild(list); // 리스트 추가
    }
  }
  // DOMContentLoaded 이벤트 리스너 추가
  document.addEventListener('DOMContentLoaded', function() {
    updateTimetableChoices();
  });

</script>
<script src="timetable.js"></script>
<script src="tableKeep_KEEP.js"></script>
</body>
</html>